body{
	margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white; 
}

.header{
	width: 100%;
	height: 65px;
	background-color: #1f2640;
	color: white;
	font-family: sans-serif;
}

.header-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	margin: 0 130px;
}

.header .left-container{
	display: inline-flex;
	margin-top: 1px;
	align-items: center;
}

#hamburger-menu {
    width: 23px;
    height: 23px;
    display: none;
    border: none;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      white 8%, 
    #1f2640 13%, #1f2640 50%, 
    white 40%, white 59%, 
    #1f2640 52%, #1f2640 91%, 
    white 80%, white 100%
    );
}

.left-container-item{
	border-bottom: 3px solid #1f2640;
	padding-bottom: 18px;
	padding: 21px 28px;
	opacity: 0.8;
	position: relative;
}

.left-container-item::after{
	right: 0;
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg) translate(0,-50%);
    position: absolute;
    top: 25px;
    transition: .3s ease-in-out;
}

.not-expandable::after{
	display: none;
}


.left-container-item:hover {
	border-bottom: 3px solid white;
	cursor: pointer;
	opacity: 1;
}

.left-container-item:hover::after{
    transform: rotate(225deg) ;
}

.left-container-item:hover .sub-menu{
	display: block;
	position: absolute;
	max-height: 420px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-left: -28px;
}


.left-container .sub-menu{
	display: none;
	top: 48px;
	background-color: rgba(0,0,0,.9);
	padding-left: 0;	
	border-right: 1px solid black;
}

.left-container li{
	cursor: pointer;
}

.sub-menu a:hover{
	opacity: 0.8;
	background-color: #222;
}

.sub-menu a{
	color: white;
	display: block;
	width: 250px;
	padding: 12px 16px;
	text-decoration: none;
}

.left-container li:hover{
	text-decoration-thickness: 3px;
}

.right-container{
	display: flex;
	justify-content: center;
}

.right-container .right-section{
	display: flex;
	justify-content: center;
}

.right-section .languages{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.header-downloadbtn{
	padding-left: 36px;
	padding-top: 16px;
}

.download-bst{
	background: linear-gradient(88.25deg,#df011f .18%,#9d2750 37.7%,#0a88d9 119.08%);
	min-width: 210px;
	height: 40px;
	color: white;
	font-weight: 900;
	font-size: 14px;
	border:none;
	margin-top: -4px;
	cursor: pointer;
	margin-left: -13px;
}

.languages::after{
	right: 0;
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(45deg) translate(0,-50%);
    transform: rotate(45deg) translate(0,-50%);
    position: absolute;
    top: calc(50% - 4px);
    transition: .3s ease-in-out;
}

.languages:hover::after{
    transform: rotate(225deg) ;
}

.languages-sub-menu{
	display: none;
}

.languages{
	padding-bottom: 18px;
    padding-top: 25px;
    width: 89px;
    padding-left: 28px;
    position: relative;
}

.languages:hover {
	border-bottom: 3px solid white;
	cursor: pointer;
}

.languages:hover .languages-sub-menu{
	display: grid;
	margin-top: 21px;
	position: absolute;
	margin-left: -28px;
	background-color: rgba(0,0,0,.7);
	max-width: 118px;
	padding: 0px;
	line-height: 9px;
}

.languages-sub-menu a{
	color: white;
	display: block;
	width: 107px;
	padding: 12px 0px 12px 10px;
	text-decoration: none;
}

.languages-sub-menu a:hover{
	background-color: black;
}

.section{
	text-align: center;
	font-family: sans-serif;
	margin: 200px 0px;
}

.section-btn{
	color: #FFFFFF;
    background: linear-gradient(180deg, #159AFF 0%, #15B9FF 100%);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 46px;
    margin-top: 25px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.section .section-image{
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.footer{
	width: 100%;
	height: 100%;
	background: linear-gradient(348.42deg,#0e2a3e 31.62%,#011133 90.19%);
	font-family: sans-serif;
}

.footer .container{
	display: flex;
	color: white;
	justify-content: space-between;
	padding-top: 40px;
	border-bottom: 2px solid #394566;
	margin: 0 150px;
	font-weight: bold;
}

.footer-ul{
	padding: 0px;
	font-weight: normal;
	line-height: 28px;
	list-style: none;
}

.footer-ul-sub-menu{
	padding: 0px;
	font-size: 14px;
    color: #f5f5f5;
    font-weight: 400;
    opacity: .7;
}

.logo-section{
	display: flex;
	height: 70px;
	padding-top: 38px;
	color: white;
	margin: 0 150px;
	border-bottom: 2px solid #394566;
}

.footer-image{
	padding-right: 34px;
}

.footer-menu-section{
	display: grid;
	height: fit-content;
}

.footer .footer-menu-section{
	padding: 0px;
}

.affiliate{
	padding-top: 22px;
    opacity: 1;
    font-weight: bold;
}

.products{
	font-weight: bold;
}

.footer-ul-sub-menu:hover{
	text-decoration: underline;
	cursor: pointer;
}

.followuson{
	padding: 0px;
	height: 96px;
	font-weight: bold;
	opacity: 1;
	margin-top: 46px;

}

.subscribe{
	display: grid;
	font-weight: bold;
	opacity: 1;
}

.subscribe-img{
	padding-top: 10px;
}

.footer-image-group{
	padding-top: 16px;
}

.copyright-section{
    margin: 0 150px;
    color: white;
    opacity: 0.3;
}

.footer-links{
	margin: 0 150px;
	color: white;
}

.footer-links a{
	color: white;
	text-decoration: none;
}

.games{
	display: inline-block;
}

.footer-wrapper{
    padding-bottom: 24px ;
}

@media (max-width: 1285px){
	.header-wrapper{
		margin: 0px;
	}

    .footer .container{
    	margin: 10px;
    }
    .logo-section{
    	margin: 10px;
    }
    .copyright-section{
    	margin: 10px;
    }
    .footer-links{
    	margin: 10px;
    }
    .header .left-container{
    	margin-left: 10px;
    }
}

@media (max-width: 1024px){

	.left-container-item{
		display: none;
	}
	.header-downloadbtn{
		display: none;
	}
	.right-container{
		margin-left: auto;
	}
	#hamburger-menu{
		display: block;
	}

}

@media (max-width: 767px){
	.section{
		margin: 82px 0px;
	}
	.section .section-image{
		max-width: 244px;
        max-height: 124px;
	}

	#section-heading{
		margin-top: 38px;
        font-size: 18px;
        line-height: 28px;
	}

	#section-para{
		font-size: 14px;
		line-height: 24px;
	}

	.section-btn{
		padding: 6px 28px;
        font-size: 14px;
        margin-top: 9px;
	}

	.footer-ul{
		display: none;
	}

	.footer-wrapper{
		padding: 20px 24px 16px 24px;
	}

	.footer .container{
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.logo-section{
		height: auto;
		padding: 0;
		margin: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	.products{
		padding: 16px 0;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

	.engage{
		padding: 16px 0;
	}

}